<ion-view view-title="My position">
  <ion-content>

    <!-- Initialization Map-->
    <div id="map"></div>

    <form id="calculate-route" name="calculate-route" action="#" method="get">

      <div class="row">
        <div class="col col-50 ">
          <label for="from" id="lFrom">From:</label>
          <input type="text" id="from" name="from" required="required" placeholder="An address" size="30" />
        </div>
        <div class="col col-50">
          <label for="to">To:</label>
          <input type="text" id="to" name="to" required="required" placeholder="Another address" size="30" />
        </div>
      </div>



      <!--<a  href="#">Get my position</a>-->


      <a id="to-link" href="#">Get my position</a>
      <br />
      <!-- Accent-colored flat button -->
      <button type="submit" class="mdl-button mdl-js-button mdl-button--accent">
        submit
      </button>
      <!--<input type="submit" />-->
      <input type="reset" />
    </form>
    <button ng-click="map.btnMarker();" id="from-link" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons"><img src="img/icon-park-plus-white.svg" alt="icon add parking"></i>
    </button>
    <p id="error"></p>
  </ion-content>
</ion-view>

<!--<ion-view>
  <ion-content class="has-header" scroll="false" data-tap-disabled="true">
    <map on-create="mapCreated(map)"></map>
  </ion-content>
</ion-view>-->

