<ion-view view-title="Countdown">
  <ion-content>
    <h1>{{ count.title }}</h1>

    <ul class="list">

      <li class="item mdl-list__item">
        <span class="mdl-list__item-primary-content">
           30 minutes
        </span>
        <span class="mdl-list__item-secondary-action">
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            <input type="checkbox" id="list-switch-1" class="mdl-switch__input" checked />
          </label>
        </span>
      </li>
      <li class="item mdl-list__item">
        <span class="mdl-list__item-primary-content">
           60 minutes
        </span>
        <span class="mdl-list__item-secondary-action">
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            <input type="checkbox" id="list-switch-1" class="mdl-switch__input" checked />
          </label>
        </span>
      </li>
      <li class="item mdl-list__item">
        <span class="mdl-list__item-primary-content">
           90 minutes
        </span>
        <span class="mdl-list__item-secondary-action">
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            <input type="checkbox" id="list-switch-1" class="mdl-switch__input" checked />
          </label>
        </span>
      </li>

    </ul>

    

  </ion-content>
</ion-view>
