<ion-view view-title="My position">
  <ion-content>

    <!-- Initialization Map-->
    <div id="map"></div>

    <form id="calculate-route" name="calculate-route" action="#" method="get">

      <div class="row">
        <div class="col col-50 ">
          <label for="from" id="lFrom">From:</label>
          <input type="text" id="from" name="from" required="required" placeholder="An address" size="30" />
        </div>
        <div class="col col-50">
          <label for="to">To:</label>
          <input type="text" id="to" name="to" required="required" placeholder="Another address" size="30" />
        </div>
      </div>
      <div class="row">
        <div class="col col-50" style="text-align: center">
          <button type="submit" class="mdl-button mdl-js-button mdl-button--accent">
            submit
          </button>
        </div>
        <div class="col col-50" style="text-align: center">
          <button type="reset" class="mdl-button mdl-js-button mdl-button--accent">
            reset
          </button>
        </div>
      </div>
    </form>
    <button ng-click="map.btnMarker();" id="from-link" ng-class="btn-from" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons"><img src="img/icon-park-plus-white.svg" alt="icon add parking"></i>
    </button>
    <p id="error"></p>
  </ion-content>
</ion-view>

// Add Marker and center user
var marker = new google.maps.Marker({
map: vm.map,
animation: google.maps.Animation.DROP,
position: latLng
});

// Marker
$timeout(function(){
console.log('Enter in Marker');
infoWindow.open(vm.map, marker);
}, 500);
