<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Maps Tab -->
  <ion-tab title="Accueil" icon-off="ion-ios-home" icon-on="ion-ios-home" ui-sref="tab.home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  <!-- Maps Tab -->
  <ion-tab title="Trouve Moi" icon-off="icon-icon-position" icon-on="icon-icon-position" ui-sref="tab.map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Time Tab -->
  <ion-tab title="Marquer temps" icon-off="icon-icon-time" icon-on="icon-icon-time" ui-sref="tab.countdown">
    <ion-nav-view name="tab-countdown"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Configuration" icon-off="ion-ios-gear" icon-on="ion-ios-gear" href="#/tab/account">

    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
